# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\WeChat\文件\WeChat Files\wxid_x4q6aqtycs2v22\FileStorage\File\2021-04\Jinkang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
